@media (max-width:768px){
    footer, nav {
        width: 100%;
        height: auto;
    }

    .footer.nav {
        height:50px;
        line-height:50px;
        bottom:0;
        left:0;
        width:100%;
    }

    .row {
        padding: 1em 0em;
    }

    .header{
        margin: 1em auto;
        display: flex;
    }

}