@media (max-width:768px){
    footer, nav {
        width: 100%;
        height: auto;
    }

    #school{
        margin-left: -15px;
    }

    #sign{
    margin-left: 15px !important;
    }
    form {
        width: 300px !important;
    }

    table {
        display: block;
        overflow-x: scroll;
        width: 300px !important;
      }
    
      main{
        margin-left: -10px;
      }

}