#school{
 position: relative !important; 
 left: 30px !important;
}
#sign:hover{
color: blueviolet;
}
.form-control{
   font-size: 13px !important;
}

td,tr{
   text-align: center;
}
hr{
   margin: 10px !important;
    color:black !important;
}
